<footer class="site-footer">

        <div class="footer-cols">

            <div>
                <h4 data-i18n="footer.contact">Contact</h4>
                <p>
                    <span data-i18n="footer.phoneLabel">Phone:</span>
                    (450) 472-0174
                </p>
            </div>

            <div>
                <h4 data-i18n="footer.follow">Follow Us</h4>

                <div class="social-icons">
                    <a
                        href="https://www.instagram.com/salonubarbershop/"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Instagram"
                    >
                        <img src="../public/images/instagram.png" alt="Instagram" />
                    </a>

                    <a
                        href="https://www.facebook.com/p/U-barbershop-100067913270000/"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Facebook"
                    >
                        <img src="../public/images/facebook.png" alt="Facebook" />
                    </a>
                </div>

            </div>

        </div>

        <p class="footer-bottom">
            © <script>document.write(new Date().getFullYear())</script> UBarbershop
        </p>

    </footer>